.featured {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding-bottom: 4%;
  position: relative;

  a {
    text-decoration: underline;
    color: rgb(101, 181, 181);
  }
  p {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 9;
    background-color: green;
    width: 70px;
    transform: rotate(-20deg);
  }
}
