body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1640px;
  margin: 0 auto !important;
  font-family: "Hind Madurai" !important;
}

#carousel {
  .imagesCarousel1 {
    background-image: url("./images/carousel_1.jpg");
    background-repeat: no-repeat;
    width: 150px;
    height: 650px;
    background-size: cover;
    h1 {
      font-size: 65px;
      font-weight: 600;
      margin: 200px 0 0 100px;
    }

    button {
      background-color: #fcfcfc;
      color: black;
      padding: 1%;
      width: 220px;
      margin: 40px 0 0 100px;
    }
  }

  .imagesCarousel2 {
    background-image: url("./images/carousel_2.jpg");
    background-repeat: no-repeat;
    width: 150px;
    height: 650px;
    background-size: cover;

    h1 {
      font-size: 65px;
      font-weight: 600;
      margin: 200px 0 0 100px;
    }

    button {
      background-color: #fcfcfc;
      color: black;
      padding: 1%;
      width: 220px;
      margin: 40px 0 0 100px;
    }
  }

  .imagesCarousel3 {
    background-image: url("./images/carousel_3.jpg");
    width: 150px;
    height: 650px;
    background-size: cover;

    h1 {
      font-size: 65px;
      font-weight: 600;
      margin: 200px 0 0 100px;
    }

    button {
      background-color: #fcfcfc;
      color: black;
      padding: 1%;
      width: 180px;
      margin: 40px 0 0 100px;
    }
  }
}

#section2 {
  width: 100%;

  .header {
    box-shadow: rgba(68, 66, 66, 0.35) 0px -50px 36px -28px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      font-size: 20px;
      padding: 1%;
      width: 15%;
      color: #8f9298;
      font-weight: 600;

      &:hover {
        color: red;
        background-color: #fcfcfc;
      }

      &.active {
        background-color: #fcfcfc;
        color: black;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
}

.top-to-btm {
  position: relative;

  .icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 2;

    &.icon-style {
      background-color: rgb(115, 147, 175);
      border: 2px solid #fff;
      height: 50px;
      width: 50px;
      color: #fff;
      cursor: pointer;
      animation: movebtn 3s ease-in-out infinite;
      transition: all 0.5s ease-in-out;

      &:hover {
        animation: none;
        background: rgb(216, 76, 76);
      }
    }
  }
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#section3 {
  background-color: #3a4754;
  color: #8f9da6;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3% 0;

  .sec3Div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  h3 {
    color: #fcfcfc;
  }

  i {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

#section4 {
  width: 100%;

  .header {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 35px;
    }
    .hr {
      width: 80px;
      margin-top: 1%;
      height: 4px;
      background-color: #ef5042;
    }
  }
}

#section5 {
  margin-top: 4%;
  background-image: url("./images//backimgSec5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 50%;

  .sec5Card {
    display: flex;
    gap: 2%;
    @media only screen and (max-width: 992px) {
      flex-direction: column;
    }

    .left {
      margin-top: 1.5%;
      margin-left: 10%;
      width: 50%;
      overflow: hidden;
      transform: 1;

      @media only screen and (max-width: 992px) {
        width: 70%;
        margin: 0 auto;
      }
      img {
        width: 100%;
        transition: all 1s;
      }

      &:hover {
        img {
          transform: scale(1.08);
        }
      }
      p {
        background-color: #3a4754;
        padding: 2% 0;
        text-align: center;
        color: white;
        font-size: 20px;
      }
    }
    .rightCard {
      margin-top: 1.5%;
      .card {
        display: flex;
        gap: 10%;

        @media only screen and (max-width: 992px) {
          justify-content: center;
        }
      }
      .text {
        p {
          color: red;
        }
      }
      .card1 {
        width: 29.5%;
        img {
          width: 100%;
        }
      }
    }
  }
}

#section6 {
  .header {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 35px;
    }
    .hr {
      width: 80px;
      margin-top: 1%;
      height: 4px;
      background-color: #ef5042;
    }
  }
  @media only screen and (max-width: 992px) {
    .swiper-button-next,
    .swiper-button-prev {
      @media only screen and (max-width: 992px) {
        display: none;
      }
    }
    .swiper-slide {
      @media only screen and (max-width: 992px) {
        width: 430px !important;
      }
    }
    .swiper-wrapper {
      @media only screen and (max-width: 992px) {
        display: flex !important;
        width: 100% !important;
      }
    }
    .swiper-pagination {
      @media only screen and (max-width: 992px) {
        display: none !important;
      }
    }
  }
}
