.ant-card-body {
  h2 {
    visibility: hidden;
  }
  img {
    opacity: 0.6;
    filter: grayscale(100%);
  }

  &:hover {
    h2 {
      text-align: center;
      visibility: visible;
      background-color: rgb(38, 177, 177);
      color: white;
    }
    img {
      opacity: 1;
      filter: grayscale(0);
      cursor: pointer;
    }
  }
}
.blogCards {
  @media only screen and (max-width: 992px) {
    .swiper-button-next,
    .swiper-button-prev {
      @media only screen and (max-width: 992px) {
        display: none;
      }
    }
    .swiper-slide {
      @media only screen and (max-width: 992px) {
        width: 160px !important;
      }
    }
    .swiper-wrapper {
      @media only screen and (max-width: 992px) {
        width: 100% !important;
      }
    }
    .swiper-pagination {
      @media only screen and (max-width: 992px) {
        display: none !important;
      }
    }
  }
}
