body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1640px;
    margin: 0 auto !important;
    font-family: 'Hind Madurai' !important;
}

#carousel {

    .imagesCarousel1 {
        background-image: url('./images/carousel_1.jpg');
        background-repeat: no-repeat;
        width: 150px;
        height: 650px;
        background-size: cover;

        h1 {
            font-size: 65px;
            font-weight: 600;
            margin: 200px 0 0 100px;
        }

        button {
            background-color: #FCFCFC;
            color: black;
            padding: 1%;
            width: 220px;
            margin: 40px 0 0 100px;
        }
    }

    .imagesCarousel2 {
        background-image: url('./images/carousel_2.jpg');
        background-repeat: no-repeat;
        width: 150px;
        height: 650px;
        background-size: cover;

        h1 {
            font-size: 65px;
            font-weight: 600;
            margin: 200px 0 0 100px;
        }

        button {
            background-color: #FCFCFC;
            color: black;
            padding: 1%;
            width: 220px;
            margin: 40px 0 0 100px;
        }
    }

    .imagesCarousel3 {
        background-image: url('./images/carousel_3.jpg');
        width: 150px;
        height: 650px;
        background-size: cover;

        h1 {
            font-size: 65px;
            font-weight: 600;
            margin: 200px 0 0 100px;
        }

        button {
            background-color: #FCFCFC;
            color: black;
            padding: 1%;
            width: 180px;
            margin: 40px 0 0 100px;
        }
    }
}

#section2 {
    width: 100%;

    .header {
        box-shadow: rgba(68, 66, 66, 0.35) 0px -50px 36px -28px inset;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a {
            font-size: 20px;
            padding: 1%;
            width: 15%;
            color: #8F9298;
            font-weight: 600;

            &:hover {
                color: red;
                background-color: #FCFCFC;
            }

            &.active {
                background-color: #FCFCFC;
                color: black;
            }
        }
    }
}

.top-to-btm {
    position: relative;

    .icon-position {
        position: fixed;
        bottom: 40px;
        right: 25px;
        z-index: 2;

        &.icon-style {
            background-color: rgb(115, 147, 175);
            border: 2px solid #fff;
            height: 50px;
            width: 50px;
            color: #fff;
            cursor: pointer;
            animation: movebtn 3s ease-in-out infinite;
            transition: all .5s ease-in-out;

            &:hover {
                animation: none;
                background: rgb(216, 76, 76);
            }
        }
    }

}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}